.jumbotron{
background-image: url(../img/children-817365_640.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.jumbotron h1, p{
  color: white;
}

.card {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.card h5, p{
color: black;
}

.footer img{
  margin-left: auto;
  margin-right: auto;
}
